.menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 27rem;
  min-width: 17.2rem;

  height: 4.8rem;
  width: auto;

  padding: 1.2rem 1.2rem;

  border: 0.1rem solid var(--secondary-gray-200);
  border-radius: 1rem;

  color: var(--secondary-gray-100);
  background-color: transparent;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.671rem;
  text-align: center;

  position: relative; /* 부모 요소를 상대 위치로 설정 */

  cursor: pointer;
}

.menu .selected {
  display: flex;
  align-items: center;
  justify-content: flex-end;
/*  white-space: nowrap; */

  width: 100%;

  gap: 0.8rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.options {
  position: absolute;
  top: 5rem;
  width: 100%;
  white-space: nowrap; 
  border: 0.1rem solid var(--secondary-gray-200);
  border-radius: 1rem;

  background-color: var(--secondary-black-400);

  z-index: 1;
}

.options li {
  padding: 1.15rem 1.6rem;
}

.options li:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-gray-200);
}

/* Tablet 사이즈 */
@media (max-width: 1199px) and (min-width: 744px) {
  .menu {
    width: 14.8rem;
    height: 4.8rem;
    white-space: nowrap; 
  }
}

/* Mobile 사이즈 */
@media (max-width: 743px) {
  .menu {
    height: 4rem; 
    min-width: 14.8rem;
    margin-right: 1rem;
    gap: 0.8rem;
    width: auto;
  }

  .options {
    
    min-width: 14.6rem;
    width: auto;
    top: 4rem;
  }  
}
