.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap; /* 모바일에서 검색창과 드롭다운이 줄바꿈 될 수 있도록 설정 */
  gap: 1rem; /* 아이템 간의 간격 */
}

.header h1 {
  color: white;
  min-width: 14.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  flex: 1; 
}

.searchDropdownContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  gap: 1.6rem;
  flex: 1;
  margin-right: 0.1rem;
}

/* Tablet 사이즈 */
@media (max-width: 1199px) and (min-width: 744px) {

}

@media (max-width: 743px) {
  .header h1 {
    margin-bottom: 1.6rem; /* 모바일 화면에서 제목과 검색창 사이에 간격 추가 */
    text-align: left;
  }

  .searchDropdownContainer {
    width: auto;
    justify-content: flex-end;
    gap: 0.8rem; /* 검색창과 정렬 버튼 간의 간격을 좁힘 */
  }
}
