.table {
  width: 100%;
  min-width: 80rem; /* 최소 너비 설정 추가 */
  margin-top: 1.6rem;
  border-radius: 0.25rem;

  overflow: hidden;
}

.table tr:hover {
  background-color: var(--secondary-black-200);
  /* 부드러운 전환 효과 추가 */
  transition: background-color 0.3s ease;
}

.table tr:active {
  background-color: var(--secondary-black-400); /* 클릭 시 색상 */
  transition: background-color 0.1s ease;
}

.table th,
.table td {
  padding: 1rem;

  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  vertical-align: middle;
}

.table thead {
  border-bottom: 1.6rem solid var(--secondary-black-400);

  background-color: var(--secondary-black-100);
  color: white;
  font-weight: 500;
}

.table tbody {
  background-color: var(--secondary-black-300);
  font-weight: 400;
}

.table tbody td {
  height: 6.4rem;
}

.table tbody td:nth-child(2) {
  font-weight: 500;
}

.table tbody tr:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-gray-300);
}

/* 열 너비 설정 */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 6.8rem; /* 순위 */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 21.3rem; /* 기업명 */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 30.4rem; /* 기업소개 */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 15.4rem; /* 카테고리 */
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15.4rem; /* 누적 투자 금액 */
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 15.4rem; /* 열: 매출액 */
}

.table th:nth-child(7),
.table td:nth-child(7) {
  width: 15.4rem; /* 고용 인원 */
}

/* 추가 */
.table-container {
  width: 100%;
  overflow-x: auto; /* 수평 스크롤 생성 */
}

.startupName {
  display: inline-block;
  vertical-align: middle;
  max-width: 12rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td.description {
  max-width: 30.4rem; /* 기본적으로 최대 너비를 차지함 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 두 줄까지만 허용 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1.5rem;
  max-height: 4.7rem;   /* 두 줄 높이만큼 설정 (line-height * 2) + padding 값 */
  line-height: 1.7rem;  /* 줄 높이를 설정 */
  text-align: left; 

  /* 표준 line-clamp 속성을 추가 : VS Code에서 경고문구 제거를 위해 */
  line-clamp: 2; /* 표준 속성으로 정의하지만 아직 대부분의 브라우저에서 미지원 */
}

@media (max-width: 1199px) and (min-width: 744px) {
  /* 태블릿 사이즈에서 첫 번째 열 숨기기 */
  .table thead th:nth-child(1),
  .table tbody td:nth-child(1) {
    display: none;
  }

  /* 열 너비 설정 */

  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 15rem; /* 기업명 */
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 18rem; /* 기업소개 */
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 9.15rem; /* 카테고리 */
  }

  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 9.15rem; /* 누적 투자 금액 */
  }

  .table th:nth-child(6),
  .table td:nth-child(6) {
    width: 9.15rem; /* 열: 매출액 */
  }

  .table th:nth-child(7),
  .table td:nth-child(7) {
    width: 9.15rem; /* 고용 인원 */
  }  

  .startupName {
    display: inline-block;
    vertical-align: middle;
    max-width: 7.2rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }  
}

@media (max-width: 743px) {
  /* 모바일 사이즈에서 첫 번째 열 숨기기 */
  .table thead th:nth-child(1),
  .table tbody td:nth-child(1) {
    display: none;
  }
  
 /* 열 너비 설정 */

 .table th:nth-child(2),
 .table td:nth-child(2) {
   width: 15rem; /* 기업명 */
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 18rem; /* 기업소개 */
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 9.15rem; /* 카테고리 */
  }

  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 9.15rem; /* 누적 투자 금액 */
  }

  .table th:nth-child(6),
  .table td:nth-child(6) {
    width: 9.15rem; /* 열: 매출액 */
  }

  .table th:nth-child(7),
  .table td:nth-child(7) {
    width: 9.15rem; /* 고용 인원 */
  }  
  
  .startupName {
    display: inline-block;
    vertical-align: middle;
    max-width: 7.2rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }  
}