.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* 모바일에서 검색창과 드롭다운이 줄바꿈 될 수 있도록 설정 */
  gap: 1rem; /* 아이템 간의 간격 */
}

.header h1 {
  color: white;
  min-width: 14.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  flex: 1; 
}

.searchDropdownContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex: 1;
}

@media (max-width: 743px) {
  .header h1 {
    margin-bottom: 1.6rem; /* 모바일 화면에서 제목과 검색창 사이에 간격 추가 */
    text-align: left;
  }
}
