.bar {
    display: grid;
    grid-template-columns: repeat(6, auto);

    max-width: 1200px;
    height: 39px;

    margin: 10px auto;
    border-radius: 4px;

    background-color: var(--secondary-black-100);
}

.bar p {
    padding: 10px;

    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    text-align: center;
}