.form,
.form>:first-child,
.form>:nth-child(2),
.group,
.password input {
    width: 100%;
}

/**** 폼 레이아웃 설정 ****/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2.4rem;
}

/**** 폼 제목 및 X 아이콘 설정 ****/
.form>:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 2rem;
    font-weight: 700;
    line-height: 2.387rem;
}

/**** 폼 투자 기업 정보 설정 ****/
.form>:nth-child(2) {
    display: flex;
    flex-direction: column;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.148rem;


    gap: 1.6rem;
}

.form>:nth-child(2) p {
    font-weight: 500;
}

/**** 인풋 그룹 설정 ****/
.group {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.group label {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.148rem;
}

.group input,
.group textarea {
    padding: 1.6rem 2rem;
    border-radius: 1rem;

    color: var(--secondary-gray-100);
    background-color: transparent;
}

.group input::placeholder,
.group textarea::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.671rem;

}

.group input:focus,
.group textarea:focus {
    outline: 0.1rem solid var(--secondary-gray-100);
}

.group textarea {
    height: 10.8rem;
}


/**** 비밀번호 인풋 설정 ****/
.password {
    position: relative;

    display: flex;
    align-items: center;

}

.password img {
    position: absolute;
    right: 2rem;

    width: 2.4rem;
    height: 2.4rem;
}


/**** 모달 버튼 설정 ****/
.buttons {
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

.buttons button {
    height: 4.8rem;

    padding: 1.3rem 4.8rem;
    border-radius: 5rem;

    font-weight: 600;

    cursor: pointer;
}

.cancel {
    width: 19.4rem;

    border: 0.1rem solid var(--primary-orange);

    color: var(--primary-orange);
    font-size: 1.8rem;
    line-height: 2.148rem;
    background-color: transparent;
}

.submit {
    width: 18.3rem;

    border: none;

    color: white;
    font-size: 1.6rem;
    line-height: 1.909rem;

    background-color: var(--primary-orange);
}

.submit:disabled {
    background-color: var(--secondary-gray-300);
    cursor: default;
}

.error {
    color: var(--error-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.671rem;
}