.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 44.8rem;

    gap: 2.4rem;
}

.content img {
    width: 2.033rem;
    height: 2.033rem;
}

.content span {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.79rem;
}

.complete {
    height: 4.8rem;

    margin: 0 auto;
    padding: 1.3rem 4.8rem;
    border-radius: 5rem;
    border: none;

    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.909rem;

    background-color: var(--primary-orange);

    cursor: pointer;
}

/***** Mobile *****/
@media (max-width: 743px) {
    .content {
        max-width: 31.1rem;
    }

    .content span {
        font-size: 1.4rem;
        line-height: 1.671rem;
    }

    .complete {
        height: 4rem;

        font-size: 1.4rem;
        line-height: 1.671rem;
    }
}