.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.myNav {
  width: 100%;
  position: relative;
  top: 4rem;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}

.headerTxt {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
}

.borderBox {
  width: 100%;
  padding: 1rem;
  top: 196px;
  border-radius: 0.4rem;
  border: 1px solid var(--secondary-black-300);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.innerBox {
  width: 100%;
  height: 30rem;
  border-radius: 0.4rem;
  background-color: var(--secondary-black-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox img {
  cursor: pointer;
}

.plusBtnImg {
  width: 6.7rem;
  height: 8.5rem;
}

.compareBtn {
  width: 19rem;
  height: 5.2rem;
  padding: 1.3rem 4.8rem;
  gap: 1rem;
  border-radius: 5rem;
  border: none;
  background-color: var(--secondary-black-100);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-align: center;
  color: var(--secondary-gray-200);
  cursor: pointer;
}

.compareActiveBtn {
  color: var(--secondary-white);
  background-color: var(--primary-orange);
}

.selectedStartup {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
}

.startupImg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.startupName {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  text-align: center;
  color: var(--secondary-white);
}

.startupCategory {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: left;
  color: var(--secondary-gray-200);
}

.removeBtn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: right;
  background-color: var(--secondary-black-100);
  color: var(--secondary-gray-100);
  border: none;
  text-decoration: underline;
  position: absolute;
  bottom: 17rem;
  right: 3rem;
  cursor: pointer;
}

.selectedNav {
  width: 100%;
  margin-top: 1rem;
}

.selectedHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
}

.addBtn {
  width: 14rem;
  height: 4.3rem;
  padding: 0.8rem 2.4rem;
  gap: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--primary-orange);
  color: var(--secondary-white);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-align: center;
  cursor: pointer;
}

.disabledBtn {
  background-color: var(--secondary-black-100);
  color: var(--secondary-gray-200);
}

.innerBox h2 {
  text-align: center;
  line-height: 2.3rem;
  color: var(--secondary-gray-200);
}

.compareSelectedStartup {
  width: 12rem;
  height: 18.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-gray-400);
  border-radius: 1.2rem;
  position: relative;
  margin-right: 2rem;
}

.minusIcon {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  top: 1rem;
  left: 4rem;
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 15.9rem;
  height: 4.3rem;
  padding: 0.8rem 2.4rem;
  gap: 1rem;
  border-radius: 2rem;
  color: var(--secondary-white);
  background-color: var(--primary-orange);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-align: center;
}

.beforeBtn {
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.3rem;
  padding: 0.8rem 2.4rem;
  gap: 1rem;
  border-radius: 2rem;
  color: var(--secondary-white);
  background-color: var(--primary-orange);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-align: center;
}

.doneNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doneTxt {
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
}

.doneCompareBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.doneCompareTxt {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: left;
}

.table {
  width: 100%;
  min-width: 80rem; /* 최소 너비 설정 추가 */
  margin-top: 1.6rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.table tr:hover {
  background-color: var(--secondary-black-200);
  /* 부드러운 전환 효과 추가 */
  transition: background-color 0.3s ease;
}

.table th,
.table td {
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  vertical-align: middle;
}

.table thead {
  border-bottom: 1.6rem solid var(--secondary-black-400);
  background-color: var(--secondary-black-100);
  color: white;
  font-weight: 500;
}

.table tbody {
  background-color: var(--secondary-black-300);
  font-weight: 400;
}

.table tbody td {
  height: 6.4rem;
}

.table tbody td:nth-child(2) {
  font-weight: 500;
}

.table tbody tr:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-gray-300);
}

/* 추가 */
.table-container {
  width: 100%;
  overflow-x: auto; /* 수평 스크롤 생성 */
}

.table td.description {
  max-width: 30.4rem; /* 기본적으로 최대 너비를 차지함 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 두 줄까지만 허용 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1.5rem;
  max-height: 4.7rem; /* 두 줄 높이만큼 설정 (line-height * 2) + padding 값 */
  line-height: 1.7rem; /* 줄 높이를 설정 */
  text-align: left;

  /* 표준 line-clamp 속성을 추가 : VS Code에서 경고문구 제거를 위해 */
  line-clamp: 2; /* 표준 속성으로 정의하지만 아직 대부분의 브라우저에서 미지원 */
}

.selectedStartupRow {
  background-color: var(--secondary-black-100);
}

.comparisonDoneBox {
  width: 100%;
  margin-bottom: 5rem;
}

.investBtn {
  width: 18.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  padding: 0.8rem 2.4rem;
  gap: 1rem;
  border-radius: 2rem;
  color: var(--secondary-white);
  background-color: var(--primary-orange);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  text-align: center;
}

.innerBoxMobile {
  width: 100%;
  height: 30rem;
  border-radius: 0.4rem;
  background-color: var(--secondary-black-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .innerBox {
    padding-left: 2rem;
  }
  /* 태블릿 사이즈에서 첫 번째 열 숨기기 */
  table thead th:nth-child(1),
  table tbody td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 743px) {
  .section {
    padding-right: 2rem;
  }
  .innerBoxMobile {
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
  }
  .compareSelectedStartup {
    width: calc(33.33% - 1rem);
    margin: 0.5rem;
  }
  /* 모바일 사이즈에서 첫 번째 열 숨기기 */
  table thead th:nth-child(1),
  table tbody td:nth-child(1) {
    display: none;
  }
}
