html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', Poppins, 'Noto Sans KR', sans-serif;
  /* 기본 폰트 크기 16px */
  font-size: 1.6rem;
  /* 기본 글꼴 색상 */
  color: var(--secondary-gray-100);
  /* 기본 배경 색상 */
  background: var(--secondary-black-400);

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  /* 부모 요소의 폰트 스타일을 상속 */
  font-family: inherit;
}