/* variables.css */
:root {
  --primary-blue: #558fff;
  --primary-orange: #eb523d;

  --secondary-black-400: #131313;
  --secondary-black-300: #212121;
  --secondary-black-200: #282828;
  --secondary-black-100: #2e2e2e;
  --secondary-gray-400: #333333;
  --secondary-gray-300: #4b4b4b;
  --secondary-gray-200: #747474;
  --secondary-gray-100: #d8d8d8;

  --error-color: #c41013;
}