.aboutContainer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--secondary-black-400);
  color: var(--primary-white);
}

.aboutContainer h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.aboutContainer h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.aboutContainer section {
  margin-bottom: 3rem;
}

.aboutContainer p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.aboutContainer p span {
  color: var(--secondary-gray-200);
}

.aboutContainer ul {
  list-style-type: none;
  padding: 0;
}

.aboutContainer li {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
