.termsContainer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--secondary-black-400);
  color: var(--primary-white);
}

.termsContainer h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.termsContainer h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.termsContainer section {
  margin-bottom: 3rem;
}

.termsContainer p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.termsContainer li {
  margin-bottom: 0.5rem;
}
