.container {
    max-width: 120rem;
    min-width: 37.5rem; 
    width: 100%;
    margin: 4rem auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

@media (max-width: 743px) {
    .container {
      padding-right: 0 !important;
    }
  }