/* 기본 경고 스타일 */
.warn {
  text-align: center;
  height: calc(100vh - 6rem - 60rem);
}

.warn .icon {
  display: block;
  margin: 25rem auto 0;
  width: 8rem; /* 아이콘 크기를 고정된 큰 사이즈로 지정 */
  height: 8rem; /* 아이콘 크기를 고정된 큰 사이즈로 지정 */
}

/* 모든 타이틀은 24px로 통일 */
.warn .title {
  margin: 2rem auto 1rem;
  font-size: 24px;
  font-weight: 500;
}

/* 모든 설명 텍스트 스타일 통일 */
.warn .description {
  margin: 0;
  font-weight: 500;
  line-height: 1.61;
  color: var(--secondary-gray-200);
  margin-bottom: 1rem;
  font-size: 18px;
}

.warn .errorTitle {
  color: var(--error-color);
}