.menu {
    position: absolute;

    right: 10.5rem;

    max-width: 14.4rem;
    width: 100%;

    border: 0.1rem solid var(--secondary-gray-200);
    border-radius: 1rem;

    background-color: var(--secondary-black-400);
}

.menu li {
    padding: 1rem;
    cursor: pointer;
}

.menu li:not(:last-child) {
    border-bottom: 0.1rem solid var(--secondary-gray-200);
}