.header {
  height: 11.2rem;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 0.1rem solid var(--secondary-black-100);
}

.header h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.864rem;
  color: white;
}

.header h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.387rem;
  color: var(--secondary-gray-200);
}

.startup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.95rem 0rem 0.95rem 1.8rem;
  width: 100%;
  height: 8rem;
  gap: 0.8rem;
}

.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 5rem;
}
