.menu {
  position: absolute;

  right: 2.5rem;

  width: 14.4rem;

  border: 0.1rem solid var(--secondary-gray-200);
  border-radius: 1rem;

  background-color: var(--secondary-black-400);
  z-index: 1;
}

.menu li {
  padding: 1rem;
  cursor: pointer;
}

.menu li:not(:last-child) {
  border-bottom: 0.1rem solid var(--secondary-gray-200);
}