.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 49.6rem;
    max-height: 95vh;

    width: 100%;

    padding: 2.4rem;
    border-radius: 1.6rem;

    background-color: var(--secondary-black-300);

    overflow-y: auto;
}

/***** Mobile *****/
@media (max-width: 743px) {
    .container {
        max-width: 34.3rem;
        padding: 1.6rem;
    }
}